// Place all the styles related to the pages controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: https://sass-lang.com/
#root {
  main {
    .main-container {
      width: 100vw;
      height: calc(100vh - 75px);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      p.catch-phrase {
        font-size: 25px;
        width: 750px;
        text-align: center;
      }
    }
  }
}

#episodes {
  padding-bottom: 100px;
  .episodes-list {
    padding-top: 50px;
    .title {
      text-align: center;
      font-weight: normal;
    }
    .episode-container {
      margin: 0 auto;
      padding: 20px 30px;
      width: 750px;
      display: flex;
      align-items: center;
      justify-content: left;
      border-bottom: 1px solid;
      .play-icon {
        margin-right: 20px;
        .border {
          border: 1px solid;
          border-radius: 100%;
          width: 50px;
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          img {
            padding-left: 3px;
            transition: opacity ease-in 0.2s;
            position: absolute;
            &.outlined {
              opacity: 1;
              z-index: 1;
            }
            &.filled {
              opacity: 0;
              z-index: 0;
            }
          }
          &:hover {
            img {
              transition: opacity ease-out 0.2s;
              &.outlined {
                opacity: 0;
                z-index: 0;
              }
              &.filled {
                opacity: 1;
                z-index: 1;
              }
            }
          }
        }
      }
      .info {
        .general {
          margin-bottom: 10px;
          .name {
            font-size: 25px;
            margin-bottom: 15px;
          }
        }
        .meta {
          font-size: 14px;
        }
      }
    }
  }
}
